# These requirements are for running tests, the library itself only needs a
# subset, see setup.py for that list
context-temp==0.11.1
coverage==5.1
portalocker==1.7.0
pudb==2019.2
pyflakes==2.2.0
Sphinx==3.0.3
sphinx-rtd-theme==0.4.3
tox==3.15.0
twine==3.1.1
waelstow==0.10.2
